{%- assign n = site.data.navigation -%}
<header class="header">
  <div class="nav-container">
    <div class="header__nav">
      <div class="logo">
        <a alt="Logo icon" href="/" aria-label="Logo of website"> <img width="50" alt="Logo" class="logo-img" src="{{site.logo}}"></a>
      </div>
      <nav class="nav">
        <div class="nav-links">
          {%- for i in n.nav -%}
          <a href="{{i.link}} " aria-label="Navigation links" class="nav-link">{{i.title}}</a>
          {%- endfor -%}
        </div>
      </nav>
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>