<section id="where" class="where__section">
  <div class="container">
    <div class="box_row">
      <h2 class="border"> {{h.where_section.title}} </h2>
      <div class="box__grid">  
        <div class="box__text reverse fade-in fade-left ">
          {{h.where_section.text | markdownify}}
        </div>
        <img alt="Johns Hopkins University" width="561" class="box__img reverse fade-in fade-right " style="aspect-ratio: 2 / 1.8;" src="{{h.where_section.image}}" alt="{{h.where_section.title}}">
      </div>
    </div>
  </div>
</section>